.red{border-radius: 50%;width: 100px;height:100px;background-color: #ffbcad;}
.yellow{border-radius: 50%;width: 100px;height:100px;background-color: #fffdcb;}
.green{border-radius: 50%;width: 100px;height:100px;background-color: #cfffcc;}
.light{width:200px;height:500px;margin-left: 50%}